<ion-view title="My Color">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="list card">
    
      <div class="item item-avatar">
        <img src="http://graph.facebook.com/{{user.id}}/picture?width=40&height=40"/>
        <h2>{{user.name}}</h2>
        <p>{{user.id}}</p>
      </div>
    
      <div class="item item-body">
        <div class="row" style="background-color:{{color[0}};">
          <div class="col" style="height: 350px;"></div>
        </div>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <div
          class="fb-like"
          data-send="true"
          data-width="450"
          data-show-faces="true">
        </div>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    
    </div>
  </ion-content>
</ion-view>
