<ion-view title="Rainbow">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list" style="margin-top: 30px">
      <div class="item item-divider">
        How are you feeling today?
      </div>
      <div class="item range range-calm">
        <i class="icon ion-sad"></i>
        <input type="range" name="volume" min="0" max="100" value="25">
        <i class="icon ion-happy"></i>
      </div>
      <div class="item range range-assertive">
        <i class="icon ion-heart-broken"></i>
        <input type="range" name="volume" min="0" max="100" value="63">
        <i class="icon ion-heart"></i>
      </div>
      <div class="item range range-energized">
        <i class="icon ion-battery-empty"></i>
        <input type="range" name="volume" min="0" max="100" value="50">
        <i class="icon ion-battery-full"></i>
      </div>
      <div class="item item-divider">
        Are you alone?
      </div>
      <div class="item range range-calm">
        <i class="icon ion-ios7-person"></i>
        <input type="range" name="volume" min="0" max="100" value="25">
        <i class="icon ion-ios7-people"></i>
      </div>
      <div class="item item-divider">
        How is the weather there?
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios7-rainy"></i>
        <input type="range" name="volume" min="0" max="100" value="12">
        <i class="icon ion-ios7-sunny"></i>
      </div>
      <div class="item range range-balanced">
        <i class="icon ion-ios7-snowy"></i>
        <input type="range" name="volume" min="0" max="100" value="25">
        <i class="icon ion-ios7-sunny-outline"></i>
      </div>
  </ion-content>
</ion-view>
