<ion-view title="Rainbow">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <form name="form" class="css-form" novalidate>
    <div class="list" style="margin-top: 30px">
      <div class="item item-divider">
        How are you feeling today?
      </div>
      <div class="item range range-calm">
        <i class="icon ion-sad"></i>
        <input type="range" name="valence" ng-model="mood.valence" value="{{mood.valence}}" min="90" max="360">
        <i class="icon ion-happy"></i>
      </div>
      <div class="item range range-energized">
        <i class="icon ion-battery-empty"></i>
        <input type="range" name="arousal" ng-model="mood.arousal" min="20" max="80">
        <i class="icon ion-battery-full"></i>
      </div>
      <!--div class="item range range-assertive">
        <i class="icon ion-heart-broken"></i>
        <input type="range" name="volume" min="0" max="100" value="63">
        <i class="icon ion-heart"></i>
      </div>
      <div class="item item-divider">
        Are you alone?
      </div>
      <div class="item range range-calm">
        <i class="icon ion-ios7-person"></i>
        <input type="range" name="volume" min="0" max="100" value="25">
        <i class="icon ion-ios7-people"></i>
      </div-->
      <div class="item item-divider">
        How is the weather there?
      </div>
      <div class="item">
        {{city}} ({{mood.weatherSummary}})
          <p>The temperature now is {{mood.temperature}} ° </p>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="clouds" ng-model="mood.clouds" min="0" max="30">
        <i class="icon ion-ios7-cloudy"></i>
      </div>
      <button class="button button-block button-positive" ng-click="makeColor(mood)">
        Rainbow me!
      </button>
       <!--div class="row" style="background-color:{{color}};">
          <div class="col" style="height: 50px;"></div>
        </div-->
    </form>
  </ion-content>
</ion-view>
